<h1>Train Schedule</h1>
<label>Train Name</label><br><br>
<input type="text" placeholder="Enter Train Name" id="tname">
<br><br>
<label>Train Number</label><br><br>
<input type="number" placeholder="Enter Train Number" id="tno" >
<br><br>
<label>Departure Time</label><br><br>
<input type="number" placeholder="Enter Departure Time" id="dtime">
<br><br>
<label>Seats Available</label><br><br>
<input type="number" placeholder="Enter how many seats available" id="sa">
<br><br>
<label>Price</label><br><br>
<input type="number" placeholder="Enter price" id="price"><br><br>

<label>Delayed By</label><br><br>
<input type="number" placeholder="Enter Delay time" id="delay">
<br><br>
<div class="one">
  <button type="button"  >Insert</button>
</div>